.about-us-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.about-us-thq-btn-elm1 {
  text-decoration: none;
}
 
.about-us-thq-btn-elm2 {
  text-decoration: none;
}
 
.about-us-text20 {
  color: #0b0b0b;
  font-size: inherit;
  letter-spacing: 0.02em;
}
 
.about-us-text22 {
  color: #0b0b0b;
  font-size: inherit;
  letter-spacing: 0.02em;
}
 
.about-us-text27 {
  color: #0b0b0b;
  font-size: inherit;
  letter-spacing: 0.02em;
  background-color: rgba(0, 0, 0, 0);
}
 
.about-us-container2 {
  display: none;
}
 
.about-us-container3 {
  display: contents;
}
