.about-us-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.about-us-thq-btn-elm1 {
  text-decoration: none;
}
 
.about-us-thq-btn-elm2 {
  text-decoration: none;
}
 
.about-us-container2 {
  display: none;
}
 
.about-us-container3 {
  display: contents;
}
