.culinary-philosophy-ingredients-container10 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.culinary-philosophy-ingredients-container14 {
  display: none;
}
 
.culinary-philosophy-ingredients-container15 {
  display: contents;
}
 
.culinary-philosophy-ingredients-thq-footer-wrapper-elm {
  display: contents;
}
 
.culinary-philosophy-ingredients-container24 {
  display: none;
}
 
.culinary-philosophy-ingredients-container25 {
  display: contents;
}
