.delivery-sustainability-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.delivery-sustainability-container2 {
  display: none;
}
 
.delivery-sustainability-container3 {
  display: contents;
}
 
.delivery-sustainability-thq-hero-parallax-bg-elm1 {
  background-image: url('https://images.pexels.com/photos/5056830/pexels-photo-5056830.jpeg?auto=compress&cs=tinysrgb&w=1500');
}
 
.delivery-sustainability-thq-hero-parallax-bg-elm2 {
  background-image: url('https://images.pexels.com/photos/4393515/pexels-photo-4393515.jpeg?auto=compress&cs=tinysrgb&w=1500');
}
 
.delivery-sustainability-thq-hero-parallax-bg-elm3 {
  background-image: url('https://images.pexels.com/photos/10790638/pexels-photo-10790638.jpeg?auto=compress&cs=tinysrgb&w=1500');
}
 
.delivery-sustainability-text11 {
  font-size: inherit;
  letter-spacing: 0.02em;
}
 
.delivery-sustainability-text13 {
  font-size: inherit;
  letter-spacing: 0.02em;
}
 
.delivery-sustainability-container4 {
  display: none;
}
 
.delivery-sustainability-container5 {
  display: contents;
}
 
.delivery-sustainability-container6 {
  display: none;
}
 
.delivery-sustainability-container7 {
  display: contents;
}
