.delivery-sustainability-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.delivery-sustainability-container2 {
  display: none;
}
 
.delivery-sustainability-container3 {
  display: contents;
}
 
.delivery-sustainability-thq-hero-parallax-bg-elm1 {
  background-image: url('https://images.pexels.com/photos/5056830/pexels-photo-5056830.jpeg?auto=compress&cs=tinysrgb&w=1500');
}
 
.delivery-sustainability-thq-btn-elm1 {
  text-decoration: none;
}
 
.delivery-sustainability-thq-btn-elm2 {
  text-decoration: none;
}
 
.delivery-sustainability-thq-hero-parallax-bg-elm2 {
  background-image: url('https://images.pexels.com/photos/4393515/pexels-photo-4393515.jpeg?auto=compress&cs=tinysrgb&w=1500');
}
 
.delivery-sustainability-thq-hero-parallax-bg-elm3 {
  background-image: url('https://images.pexels.com/photos/10790638/pexels-photo-10790638.jpeg?auto=compress&cs=tinysrgb&w=1500');
}
 
.delivery-sustainability-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
 
.delivery-sustainability-thq-delivery-accordion-header-elm2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.delivery-sustainability-container5 {
  display: none;
}
 
.delivery-sustainability-container6 {
  display: contents;
}
 
.delivery-sustainability-container7 {
  display: none;
}
 
.delivery-sustainability-container8 {
  display: contents;
}
