.gourmet-pizza-menu-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.gourmet-pizza-menu-thq-hero-carouselbg-layer-elm1 {
  background-image: url('https://images.pexels.com/photos/5640042/pexels-photo-5640042.jpeg?auto=compress&cs=tinysrgb&w=1500');
}
 
.gourmet-pizza-menu-thq-btn-elm1 {
  text-decoration: none;
}
 
.gourmet-pizza-menu-thq-btn-elm2 {
  text-decoration: none;
}
 
.gourmet-pizza-menu-thq-hero-carouselbg-layer-elm2 {
  background-image: url('https://images.pexels.com/photos/3761663/pexels-photo-3761663.jpeg?auto=compress&cs=tinysrgb&w=1500');
}
 
.gourmet-pizza-menu-thq-hero-carouselbg-layer-elm3 {
  background-image: url('https://images.pexels.com/photos/23017570/pexels-photo-23017570.jpeg?auto=compress&cs=tinysrgb&w=1500');
}
 
.gourmet-pizza-menu-container3 {
  display: none;
}
 
.gourmet-pizza-menu-container4 {
  display: contents;
}
 
.gourmet-pizza-menu-thq-btn-elm5 {
  text-decoration: none;
}
 
.gourmet-pizza-menu-thq-btn-elm6 {
  text-decoration: none;
}
 
.gourmet-pizza-menu-container5 {
  display: none;
}
 
.gourmet-pizza-menu-container6 {
  display: contents;
}
 
.gourmet-pizza-menu-container7 {
  display: none;
}
 
.gourmet-pizza-menu-container8 {
  display: contents;
}
