.home-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.home-thq-hero-main-content-elm {
  height: 1028px;
}
 
.home-thq-btn-elm1 {
  text-decoration: none;
}
 
.home-thq-btn-elm2 {
  text-decoration: none;
}
 
.home-thq-btn-elm3 {
  text-decoration: none;
}
 
.home-thq-btn-elm4 {
  text-decoration: none;
}
 
.home-text21 {
  color: #0b0b0b;
  font-size: inherit;
  letter-spacing: 0.02em;
}
 
.home-text24 {
  font-size: inherit;
  letter-spacing: 0.02em;
}
 
.home-text26 {
  color: #0b0b0b;
  font-size: inherit;
  letter-spacing: 0.02em;
}
 
.home-text29 {
  font-size: inherit;
  letter-spacing: 0.02em;
}
 
.home-container2 {
  display: none;
}
 
.home-container3 {
  display: contents;
}
 
.home-container4 {
  display: none;
}
 
.home-container5 {
  display: contents;
}
