.privacy-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.privacy-text10 {
  display: inline-block;
}
 
.privacy-text13 {
  display: inline-block;
}
 
.privacy-text16 {
  display: inline-block;
}
 
.privacy-text19 {
  display: inline-block;
}
 
.privacy-text20 {
  display: inline-block;
}
 
.privacy-text23 {
  display: inline-block;
}
 
.privacy-text26 {
  display: inline-block;
}
