.terms-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.terms-text10 {
  display: inline-block;
}
 
.terms-text13 {
  display: inline-block;
}
 
.terms-text16 {
  display: inline-block;
}
 
.terms-text23 {
  display: inline-block;
}
 
.terms-text24 {
  display: inline-block;
}
 
.terms-text27 {
  display: inline-block;
}
 
.terms-text30 {
  display: inline-block;
}
 
.terms-text33 {
  display: inline-block;
}
 
.terms-text34 {
  display: inline-block;
}
 
.terms-text35 {
  display: inline-block;
}
 
.terms-text36 {
  display: inline-block;
}
 
.terms-text37 {
  display: inline-block;
}
 
.terms-text38 {
  display: inline-block;
}
 
.terms-text39 {
  display: inline-block;
}
 
.terms-text40 {
  display: inline-block;
}
 
.terms-text41 {
  display: inline-block;
}
 
.terms-text42 {
  display: inline-block;
}
 
.terms-text43 {
  display: inline-block;
}
 
.terms-text44 {
  display: inline-block;
}
 
.terms-text45 {
  display: inline-block;
}
