.faq1-thq-faq7-elm {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.faq1-thq-max-width-elm {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.faq1-thq-list-item1-elm {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.faq1-thq-faq1-question-elm {
  font-style: normal;
  font-weight: 600;
}
 
.faq1-thq-list-item2-elm {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.faq1-thq-faq2-question-elm {
  font-style: normal;
  font-weight: 600;
}
 
.faq1-thq-list-item3-elm {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.faq1-thq-faq3-question-elm {
  font-style: normal;
  font-weight: 600;
}
 
.faq1-thq-list-item4-elm {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.faq1-thq-faq4-question-elm {
  font-style: normal;
  font-weight: 600;
}
 
.faq1-thq-list-item5-elm {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.faq1-thq-faq5-question-elm {
  font-style: normal;
  font-weight: 600;
}
 
.faq1-thq-content-elm2 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.faq1-container {
  display: flex;
  position: relative;
}
 
.faq1-thq-button-elm {
  text-decoration: none;
}
 
.faq1-text10 {
  display: inline-block;
}
 
.faq1-text11 {
  display: inline-block;
}
 
.faq1-text12 {
  display: inline-block;
}
 
.faq1-text13 {
  display: inline-block;
}
 
.faq1-text14 {
  display: inline-block;
}
 
.faq1-text15 {
  display: inline-block;
}
 
.faq1-text16 {
  display: inline-block;
}
 
.faq1-text17 {
  display: inline-block;
}
 
.faq1-text18 {
  display: inline-block;
}
 
.faq1-text19 {
  display: inline-block;
}
 
.faq1-text20 {
  display: inline-block;
}
 
.faq1-text21 {
  display: inline-block;
}
 
.faq1-text22 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .faq1-thq-max-width-elm {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
}
 
@media(max-width: 767px) {
  .faq1-thq-list-elm {
    gap: var(--dl-layout-space-twounits);
  }
  .faq1-thq-button-elm {
    width: 100%;
  }
}
