.footer-container {
  display: contents;
}
 
.footer-footer-logo-container {
  backdrop-filter: blur(5px);
}
 
.footer-image {
  width: 200px;
  object-fit: cover;
}
 
.footer-footer-nav-link1 {
  text-decoration: none;
}
 
.footer-footer-nav-link2 {
  text-decoration: none;
}
 
.footer-footer-nav-link3 {
  text-decoration: none;
}
 
.footer-footer-nav-link4 {
  text-decoration: none;
}
 
.footer-footer-social-link {
  text-decoration: none;
}
