.navigation-container1 {
  display: contents;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-thq-navigation-container-elm {
  height: 80px;
}
 
.navigation-thq-nav-logo-icon-elm {
  margin-right: 14px;
}
 
.navigation-thq-nav-logo-elm {
  height: 70px;
}
 
.navigation-thq-nav-logo-text-elm {
  align-self: center;
  flex-shrink: 0;
}
 
.navigation-thq-navigation-link-elm1 {
  text-decoration: none;
}
 
.navigation-thq-navigation-link-elm2 {
  text-decoration: none;
}
 
.navigation-thq-navigation-link-elm3 {
  text-decoration: none;
}
 
.navigation-thq-navigation-link-elm4 {
  text-decoration: none;
}
 
.navigation-thq-navigation-toggle-icon-elm {
  width: 28px;
  height: 28px;
  display: block;
}
 
.navigation-thq-navigation-close-icon-elm {
  width: 28px;
  height: 28px;
  display: block;
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}
 
.navigation-container6 {
  display: none;
}
 
.navigation-container7 {
  display: contents;
}
