.navigation-container10 {
  display: contents;
}
 
.navigation-container11 {
  display: none;
}
 
.navigation-container12 {
  display: contents;
}
 
.navigation-thq-navigation-container-elm {
  height: 80px;
}
 
.navigation-thq-nav-logo-icon-elm {
  margin-right: 14px;
}
 
.navigation-thq-nav-logo-elm {
  height: 70px;
}
 
.navigation-thq-nav-logo-text-elm {
  align-self: center;
  flex-shrink: 0;
}
 
.navigation-thq-navigation-link-item-elm1 {
  text-decoration: none;
}
 
.navigation-thq-navigation-link-item-elm2 {
  text-decoration: none;
}
 
.navigation-thq-navigation-link-item-elm3 {
  text-decoration: none;
}
 
.navigation-thq-navigation-link-item-elm4 {
  text-decoration: none;
}
 
.navigation-thq-navigation-link-item-elm5 {
  text-decoration: none;
}
 
.navigation-thq-navigation-toggle-icon-elm {
  width: 28px;
  height: 28px;
  display: block;
}
 
.navigation-image {
  width: 200px;
  object-fit: cover;
}
 
.navigation-thq-navigation-close-icon-elm {
  width: 28px;
  height: 28px;
  display: block;
}
 
.navigation-container24 {
  display: none;
}
 
.navigation-container25 {
  display: contents;
}
 
.navigation-container26 {
  display: none;
}
 
.navigation-container27 {
  display: contents;
}
