.navigation-container1 {
  display: contents;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-navigation-container {
  height: 80px;
}
 
.navigation-nav-logo-icon {
  margin-right: 14px;
}
 
.navigation-nav-logo {
  height: 70px;
}
 
.navigation-nav-logo-text {
  align-self: center;
  flex-shrink: 0;
}
 
.navigation-navigation-link1 {
  text-decoration: none;
}
 
.navigation-navigation-link2 {
  text-decoration: none;
}
 
.navigation-navigation-link3 {
  text-decoration: none;
}
 
.navigation-navigation-link4 {
  text-decoration: none;
}
 
.navigation-navigation-toggle-icon {
  width: 28px;
  height: 28px;
  display: block;
}
 
.navigation-navigation-close-icon {
  width: 28px;
  height: 28px;
  display: block;
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}
 
.navigation-container6 {
  display: none;
}
 
.navigation-container7 {
  display: contents;
}
